.accordeon {
  font-family:
    "ptmono",
    "Courier",
    monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: $dcg-3;

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: column;

  @media (min-width: $desktop-width) {
    column-gap: 10%;
  }

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    grid-template-columns: max-content 1fr;
    column-gap: 19.8%;

    @include centering-padding(93.5065%);
    padding-top: 37px;
    padding-bottom: 34px;
  }

  a {
    opacity: 0.5;

    @include footer-link-active-states;
  }
}

.accordeon__btn {
  font-family:
    "robotocondensed",
    "Arial",
    sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  color: inherit;

  width: max-content;
  margin-bottom: 25px;
  padding: 0;
  background-color: transparent;
  cursor: auto;
}

.accordeon__site-map {
  @media (min-width: $desktop-width) {
    @include casual-flex;
  }
}

.accordeon__list-item {
  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }


  &:nth-child(2n+1) {
    @media (min-width: $desktop-width) {
      margin-right: 13.2%;
    }
  }
}

.accordeon__map-item {
  &--accessories,
  &--delivery,
  &--contacts {
    line-height: 26px;
    letter-spacing: 0.03em;
  }
}

.accordeon__address {
  font-style: normal;
}

.accordeon__location {
  opacity: 0.5;
}
