.consultation {
  @include background-properties;
  background-color: $mcg-1;
  color: $lcg-1;

  @media (min-width: $desktop-width) {
    background-image: $consultation-bg-large;

    @media (min-resolution: 2dppx) {
      background-image: $consultation-bg-large-2x;
    }

    padding-top: 90px;
    padding-bottom: 109px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 78px;
    padding-bottom: 101px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @media (max-width: $pre-desktop-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  form {
    @media (min-width: $desktop-width) {
      width: 570px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 82.083333%;
    }

    @media (max-width: $pre-tablet-width) {
      width: 100%;
    }
  }

  label:not(input[type="checkbox"] + label) {
    @include visually-hidden;
  }

  input,
  textarea {
    font-size: 16px;
    line-height: 21.5px;

    border: none;
    outline: none;
    padding-left: 17px;

    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      padding-left: 20px;
    }

    &:hover,
    &:focus {
      outline: 1px solid $lcg-1;
      outline-offset: -1px;
    }
  }

  input,
  textarea,
  button[type="submit"] {
    background-color: $mcg-3;
  }

  textarea {
    @media (min-width: $desktop-width) {
      height: 154px;
      padding-top: 13px;
    }

    @media (max-width: $pre-desktop-width) {
      height: 160px;
      padding-top: 14px;
    }

    @media (max-width: $pre-tablet-width) {
      height: 104px;
    }
  }

  button[type="submit"] {
    @include common-button-style;
    @include transparent-button-style;
    letter-spacing: -0.06em;
    background-color: transparent;

    @media (min-width: $desktop-width) {
      width: 270px;
      height: 45px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 47.4576%;
      height: 47px;
    }

    @media (max-width: $pre-tablet-width) {
      width: 100%;
      margin-bottom: 20px;
    }

    &:hover,
    &:focus {
      color: $mcg-1;
      background-color: $lcg-1;
    }

    &:active {
      opacity: 0.7;
    }

    &--modal {
      width: 100%;
    }
  }

  &--modal {
    max-width: 490px;
    width: 25.520833%;
    padding-top: 33px;
    padding-bottom: 36px;
    background-image: none;

    .container {
      display: block;
    }

    form {
      width: 100%;
    }
  }
}

.consultation__form-box {
  @include casual-flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $pre-tablet-width) {
    @include column-flex;
    justify-content: flex-start;
  }
}

.consultation__text-box {
  width: 100%;

  p {
    @include zero-edges;
    width: 100%;
  }

  &--upper {
    margin-bottom: 11px;

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 37px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 19px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 13px;
    }

    p {
      @include text-style-kit;
      letter-spacing: -0.053em;
    }
  }

  &--lower {
    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 53px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-bottom: 27px;
    }
  }
}

.consultation__input-wrapper {
  &--username {
    @media (min-width: $desktop-width) {
      width: 270px;
      margin-bottom: 39px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 47.4576%;
      margin-bottom: 41px;
    }

    @media (max-width: $pre-tablet-width) {
      width: 100%;
      margin-bottom: 30px;
    }

    input {
      width: 100%;
      height: 50px;
      color: inherit;

      @media (max-width: $pre-tablet-width) {
        height: 52px;
      }

      &::placeholder {
        color: inherit;
      }
    }
  }

  &--consent {
    position: relative;

    @media (min-width: $desktop-width) {
      width: 230px;
      padding-top: 6px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 40.3389%;
      padding-top: 5px;
    }

    @media (max-width: $pre-tablet-width) {
      width: 88%;
      align-self: flex-end;
    }

    label {
      font-size: 14px;
      line-height: 16px;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -34px;
        width: 17px;
        height: 16px;
        border: 1px solid $lcg-1;

        @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
          top: 2px;
          left: -32px;
        }
      }

      &:hover,
      &:focus {
        opacity: 0.7;

        &::before {
          border-color: $mcg-2;
          opacity: 1;
        }

        & + .consultation__check-svg {
          --icon-color: #{$mcg-2};
        }
      }

      &--modal {
        width: 100%;
      }
    }

    .consultation__check-svg {
      --icon-color: #{$lcg-1};

      position: absolute;
      top: 13px;
      left: -30px;
      width: 11px;
      height: 10px;
      stroke: --icon-color;
      cursor: pointer;
      display: none;

      @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
        top: 13px;
        left: -28px;
      }
    }
  }

  &--modal {
    width: 100%;
  }

  input[type="checkbox"] {
    @include visually-hidden;

    &:checked {
      & ~ .consultation__check-svg {
        display: block;
      }
    }
  }
}

.consultation__textarea-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 24px;
  }

  textarea {
    color: inherit;
    width: 100%;
    resize: none;
  }
}
