// .contacts {
//   @media (min-width: $desktop-width) {
//     margin-right: 2.7%;
//     padding-right: 10px;
//     color: $lcg-1;
//   }
// }

// .contacts__list {
//   @include casual-flex;
//   width: max-content;

//   @media (min-width: $desktop-width) {
//     padding-top: 12px;
//   }
// }

.contacts {
  @include casual-flex;
  width: max-content;

  @media (min-width: $desktop-width) {
    margin-right: 2.7%;
    padding-top: 12px;
    padding-right: 10px;
    color: $lcg-1;
  }
}

.contacts__item {
  margin-bottom: 15px;

  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 88px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-right: 33px;
    }

    @media (max-width: $pre-tablet-width) {
      margin-right: 23px;
    }
  }
}

.contacts__link {
  @media (min-width: $desktop-width) {
    font-family:
      "ptmono",
      "Courier",
      monospace;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: inherit;
  }

  &--mail {
    @media (min-width: $desktop-width) {
      padding-top: 4px;
    }
  }

  span {
    @media (max-width: $pre-desktop-width) {
      @include visually-hidden;
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $desktop-width) {
      span {
        text-decoration: underline;
      }
    }

    .contacts__link-svg {
      --icon-color: #{$mcg-2};
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.contacts__link-svg {
  --icon-color: #{$mcg-1};

  fill: --icon-color;

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.contacts__phone-call-svg {
  @media (min-width: $desktop-width) {
    margin-right: 5px;
    transform: translateY(4px);
  }

  @media (max-width: $pre-desktop-width) {
    width: 24px;
    height: 24px;
    transform: translateY(12px);
  }

  @media (max-width: $pre-tablet-width) {
    transform: translateY(5px);
  }
}

.contacts__envelope-svg {
  @media (min-width: $desktop-width) {
    transform: translateY(3px);
  }

  @media (max-width: $pre-desktop-width) {
    width: 25.33px;
    height: 18.67px;
    transform: translateY(15px);
  }

  @media (max-width: $pre-tablet-width) {
    transform: translateY(8px);
  }
}
