.logo {
  padding-right: 100px;
  margin-right: auto;

  img {
    @media (max-width: $pre-tablet-width) {
      width: 38px;
      height: 38px;
    }
  }

  &--footer {
    box-sizing: content-box;
    width: $logo-in-footer-width;

    @media (min-width: $desktop-width) {
      margin-bottom: 54px;
      padding-right: 20px;
    }
  }
}
