.products {
  font-family:
    "robotocondensed",
    "Arial",
    sans-serif;
  font-weight: 400;
  color: $lcg-1;
  background-color: $dcg-3;

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-bottom: 113px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 20px;
    padding-bottom: 34px;
  }
}

.products__text-box {
  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 44px;
  }

  p {
    @include text-style-kit;
    letter-spacing: -0.035em;

    @media (max-width: $pre-desktop-width) {
      width: 85%;
    }

    @media (max-width: $pre-tablet-width) {
      width: 93.5%;
      margin-left: 11px;
      letter-spacing: -0.06em;
    }
  }
}

.products__list {
  display: flex;

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }

  @media (max-width: $pre-desktop-width) {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  @media (min-width: $desktop-width) {
    width: 31.6239%;
    margin-bottom: 15px;
  }

  @media (max-width: $pre-desktop-width) {
    width: 99.9%;
    margin-bottom: 47px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 2.5641%;
    }

    @media (max-width: $pre-desktop-width) {
      margin-right: 0;
    }
  }

  &:nth-child(3n+3) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.products__link {
  width: 100%;
  position: relative;

  span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.04em;

    position: absolute;
    z-index: 1;

    @media (min-width: $desktop-width) {
      top: 7.55%;
      left: 12.2%;
    }

    @media (max-width: $pre-desktop-width) {
      top: 15.5%;
      left: 6.1%;
    }

    @media (max-width: $pre-tablet-width) {
      top: 8%;
      left: 12%;
    }
  }

  &--production {
    span {
      width: 150px;
    }
  }

  &--assembly {
    span {
      width: 180px;
    }
  }

  &--accessories {
    span {
      width: 160px;

      @media (max-width: $pre-desktop-width) {
        top: 18.5%;
        left: 6.3%;
      }

      @media (max-width: $pre-tablet-width) {
        top: 12%;
        left: 12%;
      }
    }
  }

  &:hover,
  &:focus {
    .products__image-box {
      filter: sepia(1);
    }

    .products__arrow-svg {
      --arrow-bg: #{$lcg-1};
      --arrow-stroke: #{$mcg-1};
    }
  }

  &:active {
    transform: translateY(3px);
  }
}

.products__arrow-svg {
  --arrow-bg: #{$mcg-1};
  --arrow-stroke: #{$lcg-1};

  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-101%, -100%);
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 17.027027%;
    height: 10.1612903%;
  }

  @media (max-width: $pre-desktop-width) {
    width: 8.8112%;
    height: 24.609375%;
    transform: translate(-100%, -100%);
  }

  @media (max-width: $pre-tablet-width) {
    width: 63px;
    height: 63px;
  }

  .background {
    fill: --arrow-bg;
  }

  .stroke {
    stroke: --arrow-stroke;
  }
}

.products__padded-box {
  @media (min-width: $tablet-width) {
    @include padded-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: $ratio-large;
  }

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    padding-bottom: $ratio-medium;
  }

  img {
    @media (min-width: $tablet-width) {
      @include content-in-padded-box;
    }

    @media (max-width: $pre-tablet-width) {
      width: 100%;
      height: 256px;
    }
  }
}
