.products {
  font-family:
    "robotocondensed",
    "Arial",
    sans-serif;
  font-weight: 400;
  color: $lcg-1;
  background-color: $dcg-3;

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-bottom: 79px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 53px;
    padding-bottom: 44px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-bottom: 34px;
  }
}

.products__text-box {
  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 46px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 37px;
  }

  p {
    letter-spacing: -0.035em;

    @media (min-width: $desktop-width) {
      font-size: 36px;
      line-height: 51px;
    }

    @media (max-width: $pre-desktop-width) {
      font-size: 32px;
      line-height: 45px;
    }

    @media (max-width: $pre-tablet-width) {
      font-size: 28px;
      line-height: 39px;
    }
  }
}

.products__list {
  display: flex;

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }

  @media (max-width: $pre-desktop-width) {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  @media (min-width: $desktop-width) {
    width: 31.6239%;
    margin-bottom: 15px;
  }

  @media (max-width: $pre-desktop-width) {
    width: 100%;
    margin-bottom: 34px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 2.5641%;
    }

    @media (max-width: $pre-desktop-width) {
      margin-right: 0;
    }
  }

  // img {
  //   @media (max-width: $pre-desktop-width) {
  //     width: 715px;
  //     height: 256px;
  //   }

  //   @media (max-width: $pre-tablet-width) {
  //     width: 290px;
  //     height: 256px;
  //   }
  // }
}

.products__link {
  width: 100%;
  position: relative;

  &--production,
  &--assembly {
    span {
      @media (min-width: $desktop-width) {
        width: 50%;
      }
    }
  }

  &--accessories {
    span {
      @media (min-width: $desktop-width) {
        width: 45%;
      }
    }
  }

  // span,
  // &::before,
  // &::after {
  //   position: absolute;
  // }

  // span,
  // &::after {
  //   z-index: 1;
  // }

  // &::before,
  // &::after {
  //   content: "";
  // }

  // &::before {
  //   top: 89.3%;
  //   left: 89.5%;
  //   transform: rotate(135deg);
  //   z-index: 2;

  //   border: 0.2em solid $lcg-1;
  //   border-right-color: transparent;
  //   border-bottom-color: transparent;

  //   @media (min-width: $desktop-width) {
  //     width: 3.4%;
  //     height: 2%;
  //   }

  //   @media (max-width: $pre-desktop-width) {
  //     width: 0.559441%;
  //     height: 3.125%;
  //   }

  //   @media (max-width: $pre-tablet-width) {
  //     width: 1.37931%;
  //   }
  // }

  // &::after {
  //   top: 100%;
  //   left: 100%;
  //   transform: translate(-100.5%, -152%);
  //   background-color: $mcg-1;

  //   @media (min-width: $desktop-width) {
  //     width: 17.027027%;
  //     height: 9.65%;
  //   }

  //   @media (max-width: $pre-desktop-width) {
  //     width: 8.8112%;
  //     height: 24.609375%;
  //   }

  //   @media (max-width: $pre-tablet-width) {
  //     width: 21.724138%;
  //   }
  // }

  span {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.04em;

    position: absolute;
    z-index: 1;

    @media (min-width: $desktop-width) {
      top: 51px;
      left: 44px;
    }

    @media (max-width: $pre-desktop-width) {
      top: 43px;
      left: 44px;
    }

    @media (max-width: $pre-tablet-width) {
      top: 23px;
      left: 35px;
    }
  }

  // &:hover,
  // &:focus {
  //   &::before {
  //     border-color: $mcg-1;
  //     border-right-color: transparent;
  //     border-bottom-color: transparent;
  //   }

  //   &::after {
  //     background-color: $lcg-1;
  //   }
  // }

  // &:active {
  //   transform: translateY(3px);
  // }

  &:hover,
  &:focus {
    .products__arrow-svg {
      --arrow-bg: #{$lcg-1};
      --arrow-stroke: #{$mcg-1};
    }
  }

  &:active {
    transform: translateY(3px);
  }
}

.products__arrow-svg {
  --arrow-bg: #{$mcg-1};
  --arrow-stroke: #{$lcg-1};

  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-101%, -147%);
  z-index: 1;

  @media (min-width: $desktop-width) {
    width: 17.027027%;
    height: 10.1612903%;
  }

  @media (max-width: $pre-desktop-width) {
    width: 8.8112%;
    height: 24.609375%;
  }

  @media (max-width: $pre-tablet-width) {
    width: 21.724138%;
  }

  .background {
    fill: --arrow-bg;
  }

  .stroke {
    stroke: --arrow-stroke;
  }
}

.products__padded-box {
  @include padded-box;

  @media (min-width: $desktop-width) {
    padding-bottom: $ratio-large;
  }

  @media (max-width: $pre-desktop-width) {
    padding-bottom: $ratio-medium;
  }

  @media (max-width: $pre-tablet-width) {
    padding-bottom: $ratio-small;
  }

  img {
    @include content-in-padded-box;
  }
}
