// .service-information {}

.service-information__box {
  @media (min-width: $desktop-width) {
    @include centering-padding(73.5417%);
  }

  &--upper {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 14.5%;

      padding-top: 65px;
      padding-bottom: 55px;
      border-bottom: 1px solid $dcg-2;
    }
  }

  &--lower {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dcg-3;

    display: flex;
    align-items: center;

    @media (min-width: $desktop-width) {
      padding-top: 3px;
      padding-bottom: 13px;
    }

    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      justify-content: space-between;

      @include centering-padding(93.5065%);
      padding-top: 21px;
      padding-bottom: 10px;
      border-top: 1px solid $dcg-2;
    }

    @media (max-width: $pre-tablet-width) {
      flex-direction: column;
      padding-top: 28px;
      padding-bottom: 26px;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      opacity: 0.5;
    }

    a {
      opacity: 0.5;

      @include footer-link-active-states;
    }
  }
}

.service-information__wrapper {
  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    @include centering-padding(93.5065%);
    padding-top: 19px;
    padding-bottom: 24px;
  }

  @media (max-width: $pre-desktop-width) {
    border-bottom: 1px solid $dcg-2;
  }

  @media (max-width: $pre-tablet-width) {
    @include column-flex;
    padding-top: 46px;
    padding-bottom: 38px;
  }
}

.service-information__logo {
  @media (max-width: $pre-desktop-width) {
    padding-right: 15px;
    margin-right: 10%;
  }

  @media (max-width: $pre-tablet-width) {
    @include zero-side-margins;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.service-information__socials {
  @media (min-width: $desktop-width) {
    margin-top: 31px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-top: 10px;
    margin-left: 8.8%;
  }

  @media (max-width: $pre-tablet-width) {
    @include zero-side-margins;
    margin-top: 18px;
  }
}

.service-information__accordeon {
  // @media (min-width: $desktop-width) {
  //   grid-column-start: 2;
  //   grid-column-end: -1;
  //   grid-row-start: 1;
  //   grid-row-end: 3;
  // }
}

.service-information__rights {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 36.5%;
    margin-right: 5.8%;
  }

  p {
    @media (min-width: $desktop-width) {
      flex-shrink: 0;
    }

    @media (max-width: $pre-desktop-width) {
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      width: max-content;
      margin-top: 16px;
      padding-right: 10px;
    }

    @media (max-width: $pre-tablet-width) {
      @include zero-side-margins;
      padding-right: 0;
    }

    &:first-child {
      @media (min-width: $desktop-width) {
        margin-right: 13.5%;
      }
    }

    &:last-child {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
      }
    }
  }
}

.service-information__privacy-terms-link {
  @media (min-width: $desktop-width) {
    margin-right: 28%;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 21px;
  }
}

.service-information__developed-by {
  @media (min-width: $desktop-width) {
    transform: translateX(10px);
  }
}
