html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include zero-edges;

  font-family:
    "ptmono",
    "Courier",
    monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  min-width: $mobile-width;
  background-color: $lcg-1;
  color: $dcg-1;
}

header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    @include centering-padding(73.4895%);
    padding-top: 33px;
    padding-bottom: 10px;
  }

  @media (max-width: $pre-desktop-width) {
    @include centering-padding(93.5065%);
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @media (max-width: $pre-tablet-width) {
    @include centering-padding(90.625%);
    padding-top: 17px;
    padding-bottom: 10px;
  }
}

img {
  display: block;
}

.visually-hidden {
  @include visually-hidden;
}

.list {
  @include zero-edges;
  list-style: none;
}

.button {
  border: none;
  outline: none;
}

.link {
  @include link-base-style;
}

.link,
button {
  cursor: pointer;
}

.container {
  @include centering-margin;
  max-width: 1420px;

  @media (min-width: $desktop-width) {
    width: 73.9583%;
  }

  @media (max-width: $pre-desktop-width) {
    width: 77.1429%;
  }

  @media (max-width: $pre-tablet-width) {
    width: 90.625%;
  }

  &--altered {
    max-width: 1170px;

    @media (min-width: $desktop-width) {
      width: 60.9375%;
    }

    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      width: 93.5065%;
    }
  }

  &--modal {
    width: 83.967347%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;
  background-color: $dcg-8;
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}
