html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include zero-edges;

  font-family:
    "ptmono",
    "Courier",
    monospace;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  min-width: $mobile-width;
  background-color: $lcg-1;
  color: $dcg-1;
}

header {
  position: absolute;
  top: 0;

  width: 100%;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-bottom: 10px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 17px;
    padding-bottom: 10px;
  }

  .container {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
  }
}

img {
  display: block;
}

.visually-hidden {
  @include visually-hidden;
}

.list {
  @include zero-edges;
  list-style: none;
}

.button {
  border: none;
  outline: none;
}

.link {
  @include link-base-style;
}

.link,
button {
  cursor: pointer;
}

.container {
  @include centering-margin;
  width: 100%;
  max-width: 1461px;
  padding: 0 25px;

  @media (max-width: $pre-tablet-width) {
    padding: 0 17px;
  }

  &--altered {
    max-width: 1220px;

    @media (max-width: $pre-tablet-width) {
      padding: 0 15px;
    }
  }

  &--modal {
    width: 83.967347%;
    padding: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;
  background-color: $dcg-8;
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}
