// viewports
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// width limit
$content-max-width: 1920px;

//
// colors
//

// lcg (light colors' group)
$lcg-1: #ffffff;
// $lcg-2: rgba(255, 255, 255, 0.2);
// $lcg-3: #c9ccd4;
// $lcg-4: #272727;
// $lcg-5: #f6f6f6;
// $lcg-6: #e6e6e6;
// $lcg-7: #f6f7f9;

// mcg (middle colors' group)
$mcg-1: #00b2ff;
$mcg-2: #ff4d00;
// $mcg-3: #0ad95f;
// $mcg-4: #0a84d9;
// $mcg-5: #d90a1d;

// dcg (dark colors' group)
$dcg-1: #666666;
$dcg-2: rgba(98, 105, 98, 0.2);
$dcg-3: #1b2d37;
$dcg-4: #cdcdcd;
$dcg-5: #c4c4c4;
// $dcg-6: rgba(0, 0, 0, 0.7);
// $dcg-7: rgba(0, 0, 0, 0.5);
// $dcg-8: #141517;
// $dcg-9: #131314;
// $dcg-10: #070707;


// other

$logo-in-footer-width: 216px;
